<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>com.kerr.nearme.account.AccountAPI</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>receivecall</servlet-name>
        <servlet-class>com.kerr.nearme.ReceiveCallServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>receivecall</servlet-name>
        <url-pattern>/receive/call</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>receivesms</servlet-name>
        <servlet-class>com.kerr.nearme.ReceiveSmsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>receivesms</servlet-name>
        <url-pattern>/sms/receive</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>outgoingcall</servlet-name>
        <servlet-class>com.kerr.nearme.OutgoingCallServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>outgoingcall</servlet-name>
        <url-pattern>/outgoing</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>requestValidatorFilter</filter-name>
        <filter-class>com.kerr.nearme.TwilioRequestValidatorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>requestValidatorFilter</filter-name>
        <url-pattern>/receive/*</url-pattern>
    </filter-mapping>
</web-app>
